body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
  height: 10%;
  padding: 10px;
  width: 100vw;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  margin: auto 0 auto 70px;

}

h2 {
  font-weight: 600;
  margin: auto 70px auto 0;
}

h3 {
  flex: 2;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 70px;
  margin-right: 20px;
  min-width: 200px;
}

h4, p {
  padding: 0 20px;
}

.accordion-tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.header-span {
  color: #34D1D1;
}

.line {
  flex: 9;
  background-color: #D1D2D3;
  height: 3px;
  margin-right: 40px;
}

.tab-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 100px;
}

.tabs-area {
  align-items: flex-start;
  border: 2px solid #D1D2D3;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0;
  width: 70vw;
}

.tabs {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex: 1;
  height: 60px;
  justify-content: center;
  margin: 0;
}

#tab1, #tab2, #tab3 {
  border-right: 1px solid white;
}

.profile-area {
  display: none;
}

.photo {
  /*background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/f/f2/PhilipJ.Fry.png/revision/latest?cb=20110916120042');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
  margin: 10px;
  min-width: 30%;
}

.photo1 {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/f/f2/PhilipJ.Fry.png/revision/latest?cb=20110916120042');
}

.phot02 {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/d/d4/Turanga_Leela.png/revision/latest?cb=20150218013044');
}

.photo3 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a6/Bender_Rodriguez.png');
}

.photo4 {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/4/4e/Farnsworth.png/revision/latest?cb=20110710094500');
}

.tab-selected {
  background-color: white;
  border-right: 1px solid #D1D2D3;
  border-bottom: none;
}

.text1 {
  flex: 2;
  margin: 10px;
}

.show {
  border: 2px solid #D1D2D3;
  border-top: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 70vw;
}
