body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
  height: 10%;
  padding: 10px;
  width: 100vw;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  margin: auto 0 auto 100px;

}

h2 {
  font-weight: 600;
  margin: auto 100px auto 0;
}

h3 {
  flex: 2;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 100px;
  margin-right: 20px;
  min-width: 200px;
}

h4, p {
  padding: 0 20px;
}

hr {
  margin: 0 20px
}

.accordion-tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.add {
  display: none;
}

.header-span {
  color: #34D1D1;
}

.header-divide {
  display: none;
}

.line {
  flex: 9;
  background-color: #D1D2D3;
  height: 3px;
  margin-right: 70px;
}

.tab-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60vh;
  padding: 0 100px;
  width: 70vw;
}

.tabs-area {
  align-items: flex-start;
  border: 2px solid #D1D2D3;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  /*height: 10vh;*/
  padding: 0;
  width: 70vw;
}

.tabs {
  align-items: center;
  background-color: #F2F2F2;
  color: #666666;
  display: flex;
  flex: 1;
  height: 60px;
  justify-content: center;
  margin: 0;
}

.tabs:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

#tab1, #tab2, #tab3 {
  border-right: 1px solid white;
}

.profile-area {
  display: none;
}

.photo {
  /*background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/f/f2/PhilipJ.Fry.png/revision/latest?cb=20110916120042');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
  margin: 10px;
  min-width: 30%;
}

.photo1 {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/f/f2/PhilipJ.Fry.png/revision/latest?cb=20110916120042');
}

.photo2 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/d/d4/Turanga_Leela.png');
}

.photo3 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a6/Bender_Rodriguez.png');
}

.photo4 {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/4/4e/Farnsworth.png/revision/latest?cb=20110710094500');
}

.tab-selected {
  background-color: white;
  border-right: 1px solid #D1D2D3;
  border-bottom: none;
  font-weight: 600;
}

.tab-selected:hover {
  text-decoration: none;
}

.text1 {
  flex: 2;
  margin: 10px;
}

.show {
  border: 2px solid #D1D2D3;
  border-top: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 70vw;
}

.view-code {
  background-color: #2F2235;
  color: #F2F2F2;
  font-weight: 300;
  margin: 40px auto;
  padding: 10px 100px;
  width: 100px;
}

.view-code:hover {
  cursor: pointer;
  background-color: #3F3244;
}

@media (max-width: 800px) {
  header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .add {
    display: inline;
    font-size: 1.2em;
    text-decoration: none;
  }

  .header-divide {
    background-color: #F2F2F2;
    min-height: 2px;
    display: block;
    min-width: 100px;
  }

  .tab-box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .tabs-area {
    height: auto;
    flex-direction: column;
  }

  .tabs {
    border-bottom: 1px solid white;
    font-size: 1.2em;
    min-height: 60px;
    justify-content: space-between;
    width: 100%;
  }

  .tabs:hover {
    text-decoration: none;
  }

  .show {
    display: flex;
    flex-direction: column;
  }
  .photo {
    min-height: 200px;
  }
  .text {

  }

  /*#tab1 {
    order: 1;
  }

  #profile1 {
    order: 2;
  }

  #tab2 {
    order: 3;
  }

  #profile2 {
    order: 4;
  }

  #tab3 {
    order: 5;
  }

  #profile3 {
    order: 6;
  }

  #tab4 {
    order: 7;
  }

  #profile4 {
    order: 8;
  }*/



}
